.imgLogo{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    
}
.icono{
    width: 2rem;
    height: 2rem;   
}
.navshop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navDefault{
    color:darkkhaki;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .imgLogo{
        margin-right: -2rem;
    }
}  