.imgLogo{
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    margin-left: 1rem;
    opacity: 50%;
    border-radius: 3rem;
    
}
.icono{
    width: 2rem;
    height: 2rem; 
    margin-left: 2rem;  
}
.navshop{
    display: flex;
    flex-direction: column;  
}

#navDefault{
    color:darkkhaki;
    
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .imgLogo{
        margin-right: -2rem;
        margin-top: 1rem;
    }
    .icono{
        margin-left: 45%;  
    }   
}  