.imgLogo{
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 3rem;
    
}
.icono{
    width: 2rem;
    height: 2rem; 
    margin-left: 2rem;  
}
.itemsNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.itemNav{
    margin-right: 1rem;
    color: darkkhaki;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}
.itemNav:hover{
    color: gray;
    
    
}
.linkNav{
    margin-top: 1rem;
    gap:1rem;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .imgLogo{
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .icono{
        margin-left: 45%;  
    }   
    .itemsNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;  
        margin-bottom: 1rem;
    }
    .linkNav{
        margin-top: 1rem;   
    }
}  