
.listaItem{
    color: grey;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 1rem;    
}
.cardUno{
    margin-left: 1rem;    
}
.titulo{
    color:darkkhaki;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 1rem;   
}
.titulo:hover{
    color:gray ;
}
  .spinner {
    width: 30px;
    height: 30px;
    margin-top: .5rem;
    background-color: wheat;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }
/* Mobile Styles */
@media only screen and (max-width: 400px) { 
      
}  