
.listaItem{
    color: grey;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 1rem;    
}
.cardUno{
    margin-left: 1rem;    
}
.titulo{
    color:darkkhaki;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 1rem;   
  }
