/* Switch cambiar tema */
.switch{
    margin-left: 3rem;
  }
  .inputOne[type=checkbox] {
    visibility: hidden; }
  
  .inputOne[type=checkbox]:checked + .labelOne {
    transform: rotate(360deg);
    background-color: whitesmoke;
   }
  
  .inputOne[type=checkbox]:checked + .labelOne:before {
    transform: translateX(60px);
    background-color: black; }
  
  .labelOne {
    background-color: black;
    display: flex;
    width: 100px;
    height: 40px;
    border: 3px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer; }
  
  .labelOne:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    background-size: 115%;
    border-radius: 50%;
    top: 2px;
    left: 2px; }

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .switch{
        margin-top: -1rem;
        margin-right: 0.5rem;
    }
}  