.blockFour{
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2rem;
    -moz-box-shadow: 1px 0px 7px #6d71bf;
    -webkit-box-shadow: 1px 0px 7px #6d71bf;
    box-shadow: 1px 0px 7px #6d71bf;
    width: 15rem;
    height: 20rem;
}

.titEstilo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    color: wheat;
    letter-spacing: 2px; 
    text-transform: uppercase;  
    margin-top: -1rem;
}
.titEnvase{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
}
.iconos{
    margin-top: .5rem;
    margin-bottom: .5rem;
    color:yellow;
    width: 2rem;
    height: 2rem;
}
.iconoDivisa{
    color: green;
      
}
.imglatas{
    
    height: 30%;
    width: 40%;
    background-image: url();
    border-radius: .5rem;
    
    
}
.btnCard{
    width: 80%;
    margin-top: 0.7rem;   
}
.precio{
    color: antiquewhite;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    
}