
.h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    color: gray;
    text-transform: uppercase;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .h4{
    margin-left: 35%;

    }
}