.header{
  display: flex;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --font-title-family: 'Poppins', sans-serif;
}
html {
  --primary-color: #282c34;
  --secondary-color: #fff;
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #282c34;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
 
.body{
  height: 400vh;
  background-color: #393E41;
  
}
.main{
  display: flex;
  gap: 1rem;
}  

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
  .main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header{
    justify-content: center;
  }
}
